$Montserrat:("Regular", 400),
("Bold", 700),
("Medium", 500);

@each $name,
$weight in $Montserrat {
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-#{$name}.ttf");
        font-weight: $weight;
    }
}